numpy<2  # pinned: installed torch build is compiled against NumPy 1.x ABI
scipy
pandas
scikit-learn
scikit-image
matplotlib
seaborn
jupyterlab
torch
torchvision
pytorch-lightning
anndata
scanpy
squidpy
h5py
zarr
spatialdata
spatialdata-io
wandb
hydra-core
omegaconf
einops
diffusers
torchmetrics
POT
